@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');

@font-face {
    font-family: 'Chalk';
    src: url('../font/colored-crayons-font/ColoredCrayons-7wPR.ttf') format(truetype);
}

:root {
    font-size: 30px;
}

body {
    background-image: url("../img/background-img.jpg");
    font-family: 'Chalk';
    margin: 0;
    color: white;
}

@media (max-width: 510px) {
    :root {
        font-size: 20px;
    }

    body {
        background-image: url("../img/mobile-background-img.jpg");
    }

    #hangedImgDisplay img {
        height: 200px;
    }
}

button {
    background-color: transparent;
    border: none;
    color: white;
    text-transform: uppercase;
    margin: 10px;
}

button:disabled {
    opacity: 30%;
    text-decoration: line-through;
}

.hidden {
    display: none;
}

#replay-button {
    text-transform: none;
    margin: 0;
}

#resultMessage {
    transform: rotate(-5deg);
}

#replay-button {
    transform: rotate(5deg);
}

.red {
    color: #A7001E;
    font-family: 'Schoolbell';
}